/**
 * Layout
 */
.l-main {
    max-width: 1024px;
}
.l-main .p-list-article header,
.l-main .p-list-article section,
.l-main .p-article section,
.l-main .p-article footer {
    max-width: 720px;
    margin-left: auto;
}

/**
 * About Me
 */
.l-main > aside.p-author {
  position: absolute;
  width: 270px;
  margin-top: -20px;
  flex-direction: column;
  align-items: center;
}
.l-main > aside.p-author::before {
  content: none;
}
.l-main > aside.p-author .p-author__avatar {
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
}
.l-main > aside.p-author .p-author__body {
  padding: 0;
}
.l-main > aside.p-author .p-author__body p {
  font-size: 14px;
}
.l-main > aside.p-author .c-links {
  justify-content: flex-start;
}
.l-main > aside.p-author .c-links .c-links__item:first-child {
  margin-left: 0;
}
.l-main > aside.p-author .c-links .c-links__item:last-child {
  margin-right: 0;
}

/**
 * Meta
 */
.l-main section.p-article__meta {
  position: absolute;
  margin-top: 20px;
  width: 270px;
  color: #999;
}
.l-main section.p-article__meta a {
  color: #999;
}
.l-main section.p-article__meta a:hover {
  color: #175081;
}
.l-main section.p-article__meta .c-links a {
  color: #999;
  border-color: #999;
}
.l-main section.p-article__meta .c-links a:hover {
  color: #000;
  border-color: #000;
  background: none;
}

/**
 * Tags
 */
.l-main section.p-article__meta .c-tag {
  font-size: 1em;
  margin: 0 3px;
}
.l-main section.p-article__meta .c-tag:first-child {
  margin-left: 0;
}
.l-main section.p-article__meta .c-tag:last-child {
  margin-right: 0;
}
.l-main section.p-article__meta .c-tag::before {
  content: none;
}

/**
 * Article
 */
.l-main .p-article h1 {
  padding-left: 304px;
  border-bottom: 2px solid #555;
}
.l-main .p-article .p-author__avatar {
  display: none;
}
.l-main .p-article .p-author__body {
  padding: 0;
  color: #999;
}
.l-main .p-article .c-links {
  justify-content: flex-start;
}
.l-main .p-article .c-links .c-links__item:first-child {
  margin-left: 0;
}
.l-main .p-article .c-links .c-links__item:last-child {
  margin-right: 0;
}

/**
 * Responsive <1024px
 */
@media (max-width: 1024px) {
  .l-main section.p-article__meta {
    position: inherit;
    width: inherit;
  }

 .l-main .p-list-article header,
 .l-main .p-list-article section,
 .l-main .p-article section,
 .l-main .p-article footer {
     max-width: inherit;
     margin-left: inherit;
 }

 .l-main .p-article h1 {
     padding-left: inherit;
 }

  .l-main > aside.p-author {
    position: inherit;
    width: inherit;
    margin-top: inherit;
  }
  .l-main > aside.p-author .p-author__avatar {
    margin-left: auto;
    margin-right: auto;
  }
  .l-main > aside.p-author .p-author__body {
    padding: 0;
    text-align: center;
  }
  .l-main > aside.p-author .p-author__body .c-links {
    justify-content: center;
  }
}

/**
 * Misc
 * */
img.float-right {
    max-width: 360px;
    float: right;
}
@media (max-width: 1024px) {
    img.float-right {
        max-width: 100%;
        float: none;
    }
}
