<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Description | default .Summary }}">
  <meta name="author" content="{{ .Site.Params.author }}"/>
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Description | default .Summary }}">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ .Permalink }}">
  <meta property="twitter:title" content="{{ .Title }}">
  <meta property="twitter:description" content="{{ .Description | default .Summary }}">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/output.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
  
  <!-- Favicon -->
  {{- with .Site.Params.favicon }}
  <link rel='icon' type='image/x-icon' href="{{ . | absURL }}" />
  {{- end }}
</head>
<body>
    {{ partial "svgpack-sprite.html" . }}
    {{ .Content }}
</body>
</html>